$background-color: #FFF;
$link-background-hover: #DDD;
$ul-bg-color: #E5E5E5;
$font-family: 'Damion', Impact, sans-serif;
$bg-white: #FFF;
$first-ul: 
$first-ul-li-a: #EEE;
$first-ul-li-a:hover: 
$bg-people: #FFF; 
$bg-gold-bg: #FFD700;
$bg-gold-ul-li:
$bg-gold-li-a-bg: #FFF;
$bg-gold-ul


$color-white: #FFF
